// .card {
//   background: white;
//   border-radius: 1rem;
//   box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.5);
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: auto 8rem 1fr auto;
//   height: 30rem;
//   padding: 1.5rem;
//   width: 20rem;

//   &.drawing {
//     animation: spin 500ms ease forwards;
//   }

//   &-back {
//     background: #222;
//     background: $svg-uri, radial-gradient(#222, #111);
//     background-size: 100%;
//     color: white;
//     grid-template-rows: auto 1fr auto;
//     transition: background-position 500ms ease;

//     .card-corner {
//       text-transform: uppercase;
//       font-size: 1.2rem;
//       width: 8ch;

//       &:last-child {
//         justify-self: right;
//       }
//     }
//   }

//   &-start {
//     --color: #{$color-black};
//   }
//   &-brand {
//     --color: #{$color-red};
//   }
//   &-function {
//     --color: #{$color-orange};
//   }
//   &-objectives {
//     --color: #{$color-blue};
//   }
//   &-content {
//     --color: #{$color-yellow};
//   }
//   &-visual-language {
//     --color: #{$color-yellow-orange};
//   }
//   &-user {
//     --color: #{$color-teal};
//   }
//   &-wild-card {
//     --color: #{$color-purple};
//   }
//   &-experience {
//     --color: #{$color-gray};
//   }
// }

// @keyframes spin {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(20rem);
//   }
// }

// #cardCategory {
//   align-self: center;
//   font-size: 0.8rem;
//   justify-self: center;
//   letter-spacing: 0.2rem;
//   text-transform: uppercase;
//   transform: translateY(1rem);
//   &::after {
//     background: var(--color);
//     content: "";
//     display: block;
//     height: 0.25rem;
//     margin: 0.5rem auto;
//     width: 2rem;
//   }
// }

// #cardQuestion {
//   text-align: center;
//   font-size: 1.5rem;
// }

// .cardExample {
//   font-size: 1rem;
// }

// .card-corner {
//   font-size: 2rem;
//   color: var(--color);
//   text-transform: capitalize;
//   & ~ & {
//     transform: rotate(180deg);
//     outline: 1px solid red;
//   }
// }

// .card-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   grid-gap: 2rem;
//   width: 100%;
// }

// .card-deck {
//   outline: 1px solid red;
//   // display: grid;
//   display: inline-block;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;
//   place-content: center;

//   .card {
//     grid-column: 1 / 1;
//     grid-row: 1 / 1;
//     transform: translateX(20rem);
//   }

//   .card-back {
//     // order: 1;
//     transform: translateX(0rem);
//   }
// }

.deck {
  outline: 1px solid red;
}

.card {
  outline: 1px solid blue;
  margin: 1rem;
}

.card--moving {
  background: pink;
}

.card--active {
  background: white;
  outline: 1px solid red;
}
